<nav id="side">
    <ul>
        <li><a href="."><i class="fa-solid fa-house"></i>　ホーム</a></li>
        <li><a href="."><i class="fa-regular fa-hashtag"></i>　話題を表示</a></li>
        <li><a href="."><i class="fa-regular fa-bell"></i>　通知</a></li>
        <li><a href="."><i class="fa-regular fa-envelope"></i>　メッセージ</a></li>
        <li><a href="."><i class="fa-regular fa-bookmark"></i>　ブックマーク</a></li>
        <li><a href="."><i class="fa-regular fa-rectangle-list"></i>　リスト</a></li>
        <li><a href="."><i class="fa-regular fa-user"></i>　プロフィール</a></li>
        <li><a href="."><i class="fa-solid fa-ellipsis"></i>　もっと見る</a></li>
        <li id="tweetbutton"><%= link_to 'ツイートする', new_tweet_path %></li>
    </ul>
</nav>