<% if @Tweet.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
    <% @Tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>


<%= render partial: "form", locals: { form: @Tweet }, url: {action: :create} %>
