#container{
    display: flex;
}

#sidebar {
    width: 350px;
}

#sidebar nav{
    padding-left: 60px;
}

nav ul {
list-style-type: none;
}

nav li a {
text-decoration: none; 
color: #000000
}

#sidebar li{
    font-size: x-large;
}

#sidebar li {
    margin: 20px 0;
}

#sidebar a:hover {
    background-color: #C0C0C0;
    padding: 10px 10px 10px 0;
}

#tweetbutton a{
    color: white;
    background-color: #0000FF;
    padding: 10px 10px 10px 0;
}

#tweetbutton a:hover {
    background-color: #000080;
}

#content {
    width: 700px;
    float: right;
}

#side{
    position: fixed;
    top: 50px;
}

#header{
    position: fixed;
    top: 0px;
    width: 700px;
    height: 80px;
    background-color: white;
}

#headermenu li{
    display: inline;
    font-size: large;
}

#headermenu a{
    padding: 10px 35px;
}

#headermenu a:hover {
    border-bottom: 3px solid blue;
}

#content{
    padding-left: 60px;
    border-left:1px solid #8EB8FF; 
}

p{
    border-bottom: 1px solid #8EB8FF;
}